*{
     font-family: 'Montserrat', sans-serif;
     margin: 0;
     padding: 0;
}

body{
     background-color: rgb(16, 14, 14) !important;
}

.image{
     align-items: center;
     display: flex;
     justify-content: center;
}

#imgMap{
     margin-top: 20px;
     width: 45px;
}

h4{
     font-size: 1.25rem !important;
}

.general{
     height: auto;
     max-width: 600px !important;
}

p{
     color: white;
}

#result{
     align-items: flex-start;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
}

#cep{
     background-color: transparent;
     border: .2px solid grey !important;
     color: white;
     width: 200px !important;
}

.footer h6{
     font-size: .8rem;
     padding-bottom: 10px !important;
}

.footer a{
     color: lightgrey;
     text-decoration: none;
}


